In [1]:
import pyspark

In [5]:
 #Spark Session
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,IntegerType,StringType

In [6]:
#Intialize spark Session
spark=SparkSession.builder.appName('DataFrameBasics').getOrCreate()

In [4]:
# Sample data
data = [(1, "Alice", 30), (2, "Bob", 25), (3, "Charlie", 35)]

In [7]:
#Define schema
schema=StructType([
    StructField('ID',IntegerType(),True),
    StructField('Name',StringType(),True),
    StructField('Age',IntegerType(),True)
])

In [8]:
df=spark.createDataFrame(data,schema=schema)
df.show()

+---+-------+---+
| ID|   Name|Age|
+---+-------+---+
|  1|  Alice| 30|
|  2|    Bob| 25|
|  3|Charlie| 35|
+---+-------+---+

In [9]:

df.select('Name','Age').show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 30|
|    Bob| 25|
|Charlie| 35|
+-------+---+

In [10]:
df.filter(df.Age>30).show()

+---+-------+---+
| ID|   Name|Age|
+---+-------+---+
|  3|Charlie| 35|
+---+-------+---+

In [11]:
df.orderBy('Age',ascending=False).show()

+---+-------+---+
| ID|   Name|Age|
+---+-------+---+
|  3|Charlie| 35|
|  1|  Alice| 30|
|  2|    Bob| 25|
+---+-------+---+

In [12]:
df.count()

3

## Computing Statistics

In [13]:
df.describe().show()

+-------+---+-------+----+
|summary| ID|   Name| Age|
+-------+---+-------+----+
|  count|  3|      3|   3|
|   mean|2.0|   NULL|30.0|
| stddev|1.0|   NULL| 5.0|
|    min|  1|  Alice|  25|
|    max|  3|Charlie|  35|
+-------+---+-------+----+

## Joining Dataframes

In [14]:
data2=[(1,'New York'),(2,'los Angeles'),(3,'Chicago')]

schema2=StructType([
    StructField('ID',IntegerType(),True),
    StructField('City',StringType(),True)

])


df2=spark.createDataFrame(data2,schema=schema2)

In [15]:
df_joined=df.join(df,on='ID',how='inner')
df_joined.show()

+---+-------+---+-------+---+
| ID|   Name|Age|   Name|Age|
+---+-------+---+-------+---+
|  1|  Alice| 30|  Alice| 30|
|  2|    Bob| 25|    Bob| 25|
|  3|Charlie| 35|Charlie| 35|
+---+-------+---+-------+---+